#Projects {
  background-color: rgb(255, 3, 163);
  height: 800px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media screen and (min-width: 1000px) {
  #Projects {
    width: 990px;
  }
}

@media screen and (max-width: 999px) {
  #Projects {
    width: 100%;
  }
}
