#Projects {
  height: auto;

  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */

  justify-content: center;
  align-items: center;
  text-align: center;

  margin-bottom: 50px;
}

#Projects .project_title > h1 {
  color: var(--color-main);
}

#Projects .project_container {
  width: 100%;
  height: 300px;

  display: flex;
  flex-wrap: wrap;

  flex-direction: row;

  justify-content: center;
  align-items: center;
  text-align: center;

  transition: all 0.5s ease;
}

@media screen and (min-width: 1000px) {
  #Projects {
    width: 990px;
  }
}

@media screen and (max-width: 999px) {
  #Projects {
    width: 100%;
  }
}
