#root {
  --color-main: #87f338;

  --color-light-background: #fafbfe;
  --color-dark-background: #0f101c;

  --color-light-router: #e4e7f0;
  --color-dark-router: #1c1f30;

  --color-light-router-icon: #55565e;
  --color-dark-router-icon: #bbbec4;

  --color-light-title-text: #23252d;
  --color-dark-title-text: #eeeef3;

  --color-light-text: #60636d;
  --color-dark-text: #b4b8be;

  --color-light-container: #fefffe;
  --color-dark-container: #181a29;
}

#light {
  background-color: var(--color-light-background);
  color: var(--color-light-text);
}

#dark {
  background-color: var(--color-dark-background);
  color: var(--color-dark-text);
}

#light h1,
#light h4 {
  color: var(--color-light-title-text);
}

#dark h1,
#dark h4 {
  color: var(--color-dark-title-text);
}

.App {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
  text-align: center;
}

/* <!-- ROUTER --!> */

.router_container {
  display: flex;
  position: fixed;
  bottom: 10px;

  width: 25em;

  padding: 1em 1em;
  border-radius: 100px;

  justify-content: space-evenly;
  transition: all 0.5s ease;
}

#light .router_container {
  background-color: var(--color-light-router);
}

#dark .router_container {
  background-color: var(--color-dark-router);
}

.router_icon {
  width: 2em;
  height: 2em;
  border-radius: 2em;

  text-align: center;
  line-height: 2em;

  cursor: pointer;
  font-size: 1.5em;
}

#light .router_icon {
  color: var(--color-light-router-icon);
}

#dark .router_icon {
  color: var(--color-dark-router-icon);
}

.router_icon_active {
  background-image: linear-gradient(#87f338 0%, rgba(255, 255, 255, 0) 100%);
}

.router_icon:hover {
  background-image: linear-gradient(#87f338 0%, rgba(255, 255, 255, 0) 100%);
  transform: translateY(-2px);
}

.router_icon:active {
  transform: translateY(0);
}

/* <!-- ROUTER ENDS --!> */

/* <!-- Buttons --!> */

.dark_mode_button {
  position: fixed;
  right: 1em;
  top: 0.8em;
  font-size: 2em;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.dark_mode_button:hover {
  color: var(--color-main) !important;
}

#light .dark_mode_button {
  color: var(--color-light-text);
}

#dark .dark_mode_button {
  color: var(--color-dark-text);
}

/* -------------------------------- */

.button {
  font-family: "Winston-Bold";
  background-color: var(--color-main);
  border: 0.2em solid var(--color-main);
  border-radius: 0.8em;
  font-size: 1.2em;
  color: var(--color-dark-background);

  padding: 1em 1.2em;

  cursor: pointer;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: none;
  transform: translateY(0);
}

/* -------------------------------- */

.cv_button {
  font-family: "Winston-Bold";
  background-color: transparent;
  border: 0.2em solid var(--color-main);
  border-radius: 0.8em;
  font-size: 1.2em;

  padding: 1em 1.2em;
  margin-right: 1em;
  margin-bottom: 1em;

  text-decoration: none;

  cursor: pointer;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#light .cv_button {
  color: var(--color-dark-background);
}

#dark .cv_button {
  color: var(--color-main);
}

.cv_button:hover {
  background-color: var(--color-main);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

#dark .cv_button:hover {
  color: var(--color-dark-background);
}

.cv_button:active {
  box-shadow: none;
  transform: translateY(0);
}
/* ----------------- */

.social_button {
  width: 1.5em;
  height: 1.5em;

  text-align: center;
  line-height: 2em;

  border-radius: 4px;
  padding: 4px;
  font-size: 2em;
  margin: 4px 0;
  border: none;

  cursor: pointer;
}

#light .social_button {
  color: #000000;
  box-shadow: 3px 3px 6px rgba(112, 112, 112, 0.4);
  background-color: var(--color-light-container);
}

#dark .social_button {
  color: var(--color-main);
  background-color: var(--color-dark-container);
}

.social_button:hover {
  color: #fff !important;
  background-color: var(--color-main) !important;
}

/* <!-- Buttons ENDS --!> */

/* <!-- Containers --!> */

.about_cont {
  display: flex;
  flex-direction: column;

  justify-content: space-evenly;
  align-items: center;
  text-align: center;

  width: 120px;
  height: 100px;

  border-radius: 10%;

  font-size: 0.7em;
  margin: 5px;
  /* padding: 5px; */
}

.about_cont .text > h4 {
  font-family: "Winston-Bold";
  font-size: 1.3em;
  padding-bottom: 5px;
}

.about_cont .icon {
  font-size: 2em;
  color: var(--color-main);
}

#light .about_cont {
  box-shadow: 3px 3px 6px rgba(109, 109, 109, 0.4);
  background-color: var(--color-light-container);
}

#dark .about_cont {
  background-color: var(--color-dark-container);
}

/* ---------------------------------------- */

.skills_outer {
  display: flex;
  flex-direction: column;

  width: 455px;
  height: auto;

  border-radius: 10% 10% 10% 10% / 20% 20% 20% 20%;

  font-size: 0.7em;

  margin: 20px 20px;
}

.skills_outer .title {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.skills_outer .title > h3 {
  font-family: "Winston-Bold";
  font-size: 1.3em;
  color: var(--color-main);
  padding-top: 20px;
}

.skills_outer .children {
  flex: 8;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 20px;
  /* background-color: #1b44ea99; */
}

#light .skills_outer {
  box-shadow: 1.5px 1.5px 8px rgba(111, 109, 109, 0.213);
  background-color: var(--color-light-container);
}

#dark .skills_outer {
  background-color: var(--color-dark-container);
}

.skills_inner {
  height: 70px;
  width: 130px;
  border-radius: 10%;
  margin-left: 15px;
  margin-bottom: 15px;
  padding-top: 5px;
  /* background-color: #000000; */
}

.skills_inner .language {
  display: flex;
  justify-content: center;
  /* align-items: flex-start; */
  padding: 10px;
  font-size: 1.4em;
  size: 2em;
}

.skills_inner .language .icon {
  font-size: 1.1em;
  padding-right: 5px;
  color: var(--color-main);
  align-self: center;
  padding-top: 5px;
}

.skills_inner .tag {
  font-size: 1.1em;
}

/* <!-- Containers ENDS --!> */

/* <!-- RESPONSIVENESS --!> */

@media screen and (max-width: 600px) {
  .router_container {
    width: 90%;
  }
}
