#root {
  --color-main: #87f338;

  --color-light-background: #fafbfe;
  --color-dark-background: #0f101c;

  --color-light-router: #e4e7f0;
  --color-dark-router: #1c1f30;

  --color-light-router-icon: #55565e;
  --color-dark-router-icon: #bbbec4;

  --color-light-title-text: #23252d;
  --color-dark-title-text: #eeeef3;

  --color-light-text: #60636d;
  --color-dark-text: #b4b8be;

  --color-light-container: #fefffe;
  --color-dark-container: #181a29;
}

#light {
  background-color: var(--color-light-background);
  color: var(--color-light-text);
}

#dark {
  background-color: var(--color-dark-background);
  color: var(--color-dark-text);
}

#light h2,
#light h4 {
  color: var(--color-light-title-text);
}

#dark h2,
#dark h4 {
  color: var(--color-dark-title-text);
}

h1 {
  font-family: "Winston-Bold";
  font-size: 2.5rem;
}

.App {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
  text-align: center;
}
